<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/desktop_template.css">
    <title>Join</title>
</head>
<body>
    <section class="desktopSideMenu">
        <div class="desktopImageContainer">
            <img class="desktopImage" src="/assets/img/join_logo_white.svg" alt="Join Logo">
        </div>
        <div class="navLinks">
            <a class="singleNavLink" href="">Summary</a>
            <a class="singleNavLink" href="">Add Task</a>
            <a class="singleNavLink" href="">Board</a>
            <a class="singleNavLink" href="">Contacts</a>
        </div>
    </section>
</body>
</html>