<header class="header">
    <h1>Kanban Project Management Tool</h1>
    <div class="header-right">
        <div class="helpImageHeader">
            <img onclick="window.location.href='help.html'" class="helpImage" src="/assets/img/logo_help.svg" alt="Help">
        </div>
        <div class="user-profile">
            <div id="profilePicture" class="profile-picture"></div>                
        </div>
        <div id="dropdownMenu" class="dropdown-menu">
            <a href="./help.html">Help</a>
            <a href="./legal_notice.html">Legal Notice</a>
            <a href="./privacy_policy.html">Privacy Policy</a>
            <a href="./index.html">Log out</a>
        </div>
    </div>
</header>