<header class="header">
    <h1>Kanban Project Management Tool</h1>
    <div class="header-right">
        <div class="helpImageHeader">
            <img onclick="window.location.href='help.html'" class="helpImage" src="/assets/img/logo_help.svg" alt="Help">
        </div>
        <div class="user-profile">
            <div id="profilePicture" class="profile-picture"></div>                
        </div>
        <div id="dropdownMenu" class="dropdown-menu">
            <button onclick="window.location.href='help.html'">Help</button>
            <button onclick="window.location.href='legal_notice.html'">Legal Notice</button>
            <button onclick="window.location.href='privacy_policy.html'">Privacy Policy</button>
            <button onclick="logout()">Log out</button>
        </div>
    </div>
</header>