<nav class="mobile-nav-bar">
    <div class="mobile-bar" onclick="window.location.href='summary.html'">
        <img src="/assets/img/logo_summary.svg">
        <p class="mobile-singleNavLink" href="">Summary</p>
    </div>
    <div class="mobile-bar" onclick="window.location.href='addTask.html'">
        <img src="/assets/img/logo_add_task.svg">
        <p class="mobile-singleNavLink" href="">Add Task</p>
    </div>
    <div class="mobile-bar" onclick="window.location.href='board.html'">
        <img src="/assets/img/logo_board.svg">
        <p class="mobile-singleNavLink" href="">Board</p>
    </div>
    <div class="mobile-bar" onclick="window.location.href='contacts.html'">
        <img src="/assets/img/logo_contacts.svg">
        <p class="mobile-singleNavLink" href="">Contacts</p>
    </div>
</nav>