<section class="desktopSideMenu">
    <div class="desktopImageContainer">
        <img class="desktopImage" src="/assets/img/join_logo_white.svg" alt="Join Logo">
    </div>
    <div class="navLinksContainer">
        <div class="desktopLinkAndImage" onclick="window.location.href='summary.html'">
            <img class="desktopLinkImageSummary" src="/assets/img/logo_summary.svg">
            <p class="singleNavLink" href="">Summary</p>
        </div>
        <div class="desktopLinkAndImage" onclick="window.location.href='add_task.html'">
            <img src="/assets/img/logo_add_task.svg">
            <p class="singleNavLink" href="">Add Task</p>
        </div>
        <div class="desktopLinkAndImage" onclick="window.location.href='board.html'">
            <img src="/assets/img/logo_board.svg">
            <p class="singleNavLink" href="">Board</p>
        </div>
        <div class="desktopLinkAndImage" onclick="window.location.href='contacts.html'">
            <img src="/assets/img/logo_contacts.svg">
            <p class="singleNavLink" href="">Contacts</p>
        </div>
    </div>
    <div class="dataProtectionContainer">
        <a class="dataProtectionPolicy" href="./privacy_policy.html">Privacy Policy</a>
        <a class="dataProtectionNotice" href="./legal_notice.html">Legal notice</a>
    </div>
</section>