* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F6F7F8;
    max-width: 1920px;
}

.addTaskContainer {
    padding-top: 206px;
    padding-left: 328px;
    padding-right: 135px;
}

.addTaskHeadline {
    font-size: 61px;
    font-weight: 700;
}

.addTaskContent {
    display: flex;
    align-items: flex-start;
    padding-top: 48px;
    width: 100%;
}

.leftAddTaskContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rightAddTaskContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addTaskSeparateContainer{
    width: 0px;
    height: 424px;
    margin-right: 48px;
    margin-left: 48px;
    border: 1px solid #D1D1D1;
}

.inputContainerTitle {
    width: 440px;
    padding-bottom: 16px;
}

.inputContainerDescription {
    width: 440px;
    padding-bottom: 16px;
}

.inputContainerDueDate {
    width: 440px;
    padding-bottom: 24px;
}

.inputContainer {
    margin-bottom: 20px;
}

.addTaskInputTitle {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.inputError {
    border: 1px solid red !important;
}

.errorMessageTitleAndDate {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    position: fixed;
}

.inputAddTask {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 50px;
    padding: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}

.inputAddTaskDueDate {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 50px;
    padding: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    color: #D1D1D1;
}

.inputAddTaskDueDate:not([value="YYYY-MM-DD"]) {
    color: black;
}

.textAreaAddTask {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 120px;
    resize: vertical;
    padding: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}

.assignedAddTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 50px;
    padding: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    background-color: white;
    box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.assignedAddTask:hover {
    box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.4);
}

.contactDropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    max-height: 201px;
    overflow-y: auto;
    z-index: 1000;
    width: 440px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.contactDropdown.show {
    display: block;
}

.selectedContactsHeadline {
    font-size: 20px;
    font-weight: 400;
}

.contactItem {
    padding: 12px;
    cursor: pointer;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
}

.contactItem:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

input[type="text"]:focus,
    textarea:focus,
    select:focus,
    input[type="date"]:focus {
    border-color: rgb(41,171,226);
    outline: none;
    box-shadow: none;
}

.selectedOption {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 50px;
    padding: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.selectedOption:hover {
    box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.4);
    background-image: h;
}

.dropDownImageCategory {
    padding-bottom: 5px;
  
}

.dropDownImageCategory:hover { 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: #E0E0E0;
    border-radius: 50%;
}

.dropDownImageRotation180 {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
    padding-top: 4px;
}

.customDropdown.active .options {
    display: block !important;
    z-index: 1000;
}

.customDropdown {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.selectedCategoryHeadline {
    font-size: 20px;
    font-weight: 400;
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: #fff;
    max-height: 201px;
    overflow-y: auto;
    z-index: 1000;
    width: 440px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dropDownContent.show {
    display: block;
}

.categoryItem {
    padding: 12px;
    cursor: pointer;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
}

.categoryItem:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.customDropdown.active .dropdownOptions {
    display: block;
}

.customDropdown.error .selectedOption {
    border-color: red;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: none;
}

.errorMessage.visible {
    display: block;
}

.subTaskEditInput {
    width: auto;
    padding: 4px 0;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    display: inline-block;
}

#title::placeholder,
#description::placeholder,
#subtasks {
    color: #D1D1D1;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 4px;
}

.prioButtonContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 24px;
}

.prioButtonUrgent{
    width: 136px;
    height: 56px;
    padding: 10px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prioButtonUrgent:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.prioButtonMedium {
    width: 136px;
    height: 56px;
    padding: 10px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prioButtonMedium img {
    filter: brightness(0) saturate(100%) invert(68%) sepia(94%) saturate(342%) hue-rotate(360deg) brightness(103%) contrast(103%);
}

.prioButtonMedium:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.prioButtonLow {
    width: 136px;
    height: 56px;
    padding: 10px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prioButtonLow:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.prioButtonUrgent.active {
    background-color: #FF3D00;
    color: white;
}
  
.prioButtonUrgent.active img {
    filter: brightness(0) invert(1);
}
  
.prioButtonMedium.active {
    background-color: #FFA800;
    color: white;
}
  
.prioButtonMedium.active img {
    filter: brightness(0) invert(1);
}
  
.prioButtonLow.active {
    background-color: #7AE229;
    color: white;
}
  
.prioButtonLow.active img {
    filter: brightness(0) invert(1);
}

.subTaskInputContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.subTaskInput {
    width: 100%;
    padding-right: 40px;
}

.addSubTaskButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.subTaskList {
    margin-top: 10px;
}

.subTask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 7px 12px;
    border-radius: 10px;
    background-color:  #d3d3d354;
}

.subTask:hover {
    cursor: pointer;
    background-color:  #d3d3d3af;
}

.subTaskEdit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 7px 12px;
    background-color:  #d3d3d354;
    border-bottom: 2px solid #29ABE2;
}

.subTask span {
    flex-grow: 1;
    margin-right: 10px;
}

.rightContainerSubTask {
    display: flex;
}

.subTaskEditButton {
    cursor: pointer;
}

.partingLine{
    height: 25px;
    width: 2px;
    background-color: #D1D1D1;
    margin-right: 5px;
    margin-left: 5px;
}

.subTaskSaveButton {
    height: 20px;
    cursor: pointer;
    padding-top: 5px;
}

.subTaskDeleteButton {
    cursor: pointer;
}

.subTaskErrorMessage {
    color: red;
    display: none;
}

.subTaskErrorMessage.visible {
    padding-top: 10px;
    display: block;
}

.addTaskCreateButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    padding-top: 5px;
    padding-bottom: 79px;
}

.requiredTextAddTask{
    color: black;
}

.requiredBefore::before {
    content: "*";
    color: red;
    margin-left: 4px;
}

.clearAndCreateButtons {
    display: flex;
}

.clearButton, .createButton {
    padding: 18px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearButton {
    background-color: white;
    color: #2A3647;
    border: 1px solid #2A3647;
    width: 110px;
    height: 56px;
    margin-right: 18px;
}

.clearButton:hover {
    border-color: #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clearButton:hover .clearAndCreateButtonImage {
    filter: invert(48%) sepia(85%) saturate(2476%) hue-rotate(165deg) brightness(100%) contrast(119%);
}

.createButton {
    background: #2A3647;
    color: white;
    border: none;
    width: 183px;
    height: 56px;
}

.createButton:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clearAndCreateButtonImage {
    width: 14px;
    height: 14px;
    margin-left: 10px;
}

.scroll {
    overflow-y: scroll;
    height: calc(100vh - 10%);
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    padding-right: 4px;
}

::-webkit-scrollbar-track {
    background: #F6F7F8;
}

::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #29ABE2;
    border-radius: 4px;
}
