@media(max-width: 1330px) {
    .addTaskContainer {
        padding-left: 250px;
    }
}

@media(max-width: 1240px) {
    .addTaskContainer {
        padding-left: 0px;
    }

    .addTaskContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 48px;
        width: 100%;
    }

    .leftAndRightTaskContainer {
        display: flex;
        flex-direction: column;
    }

    .addTaskSeparateContainer{
        display: none;
    }
}

@media(max-width: 1240px) {

}