* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F6F7F8;
    max-width: 1920px;
}

.header {
    z-index: 1000;
}

.displayNone {
    display: none;
}

.displayShow {
    display: block;
}

.addTaskContainer {
    padding-top: 206px;
    padding-left: 328px;

}

.headlineContainer {
    margin-bottom: 48px;
}

.addTaskHeadline {
    font-size: 61px;
    font-weight: 700;
}

.addTaskContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.leftAndRightTaskContainer {
    display: flex;
}

.leftAddTaskContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rightAddTaskContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addTaskSeparateContainer{
    width: 0px;
    height: 424px;
    margin-right: 48px;
    margin-left: 48px;
    border: 1px solid #D1D1D1;
}

.inputContainerTitle {
    width: 440px;
    height: 113px;
}

.inputContainerDescription {
    width: 440px;
    padding-bottom: 16px;
}

.inputContainerDueDate {
    width: 440px;
    height: 113px;
}

.inputContainer {
    margin-bottom: 20px;
}

.addTaskInputTitle {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #2A3647;
}

.inputError {
    height: 50px;
    border: 1px solid red !important;
    border-radius: 12px;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    width: 100%;
    height: 0px;
}

.errorMessage.visible {
    display: block;
    position: absolute;
}

.inputAddTask {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 48px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 19px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}

.inputAddTaskDueDate {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 48px;
    padding: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    color: #D1D1D1;
    background-image: url(/assets/img/calender.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
    cursor: pointer;
}

.inputAddTaskDueDate:not([value="YYYY-MM-DD"]) {
    color: black;
}

.textAreaAddTask {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 120px;
    resize: vertical;
    padding: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    resize: none;
    background-image: url(/assets/img/textAreaImage.svg);
    background-repeat: no-repeat;
    background-position: right 4px bottom 4px;
    background-size: 18px;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.textAreaAddTask::-webkit-scrollbar {
    display: none;
}

.assignedAddTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 48px;
    padding: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    background-color: white;
    cursor: pointer;
}

.assignedAddTask:hover {
    box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.2);
}

.assignedAddTask:focus-within {
    border-color: rgb(41,171,226);
    outline: none;
    box-shadow: none;
}

input[type="checkbox"] {
    display: inline-block;
    border: 0px !important;
    background-image: url(../assets/img/checkbox-not-checked.svg);
    background-size: cover;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0px;
}

input[type="checkbox"]:checked {
    background-image: url(../assets/img/checkbox-checked-white.svg);
}

input[type="text"]:focus,
    textarea:focus,
    select:focus,
    input[type="date"]:focus {
    border-color: rgb(41,171,226);
    outline: none;
    box-shadow: none;
}

.selectedOption {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 48px;
    padding: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.selectedOption:hover {
    box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.2);
    background-image: h;
}

.selectedCategoryHeadline {
    font-size: 20px;
    font-weight: 400;
}

.categoryContainer {
    height: 105px;
    position: relative;
}

.categoryItem {
    padding: 12px;
    cursor: pointer;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
}

.categoryItem:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.errorMessage.visible {
    display: block;
}

#title::placeholder,
#description::placeholder,
#subtasks {
    color: #D1D1D1;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 4px;
}

.assignedToContainer {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.requiredTextAddTask{
    color: black;
}

.requiredBefore::before {
    content: "*";
    color: red;
    margin-left: 4px;
}

.taskAddedNotification {
    width: 320px;
    height: 66px;
    position: fixed;
    bottom: -130px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2A3647;
    color: white;
    padding: 16px 24px;
    border-radius: 15px;
    transition: bottom 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
  
.taskAddedNotification.show {
    bottom: 500px;
}

.taskAddedNotificationImage {
    height: 30px;
}

.scroll {
    overflow-y: scroll;
    height: calc(100vh - 10%);
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    padding-right: 4px;
}

::-webkit-scrollbar-track {
    background: #F6F7F8;
}

::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #29ABE2;
    border-radius: 4px;
}
