@media(max-width: 1020px) {
    
    .header {
        width: 100%;
        height: 80px;
        z-index: 9000;
    }

    .addTaskContainer {
        padding-left: 13px;
        padding-right: 13px;
    }

    .addTaskContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 104px;     
        overflow: scroll; 
        max-height: calc(90vh - 240px); 
        scrollbar-width: none; 
        -ms-overflow-style: none; 
    }

    .addTaskContent::-webkit-scrollbar {
        display: none; 
    }
    

    .leftAndRightTaskContainer {
        padding-top: 32px;
    }

    .leftAddTaskContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

    .headlineContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 80px;
        left: none; 
        width: 100%;
        height: 160px;
        background-color: #F6F7F8;
        z-index: 1000;
        padding-left: 47px;

    }

    .addTaskHeadline {
        font-size: 47px;
        font-weight: 700;
    }

    .inputContainerTitle {
        width: 440px;
        padding-bottom: 16px;
        display: flex;
        justify-content: center;
        height: 90px;
    }

    .inputContainerDescription {
        width: 440px;
        padding-bottom: 3px;
        display: flex;
        justify-content: center;
    }

    .assignedAddTaskContainer{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .assignedToContainer {
        width: auto;
    }

    .aktivContacts {
        width: 340px;
    
    }

    .inputContainerDueDate {
        padding-bottom: 16px;
        display: flex;
        justify-content: center;
        height: 95px;
    }

    .prioButtonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-right: 20px;
        padding-bottom: 12px;
    }

    .categoryContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 82px;
    }

    .subTaskContainer {
        width: 78%;
        max-width: 440px;
        margin: 0 auto;
    }

    .subTaskInputContainer {
        width: 100%;
    }

    .inputAddSubTask {
        width: 342px;
        height: 40px;
        font-size: 16px;
        padding-right: 72px;
    }

    .listSubTask {
        width: 250px;
    }

    .subTaskList {
        width: 100%;
    }

    .subTask {
        width: 341px;
        min-height: fit-content;
    }

    .subTaskEditInput {
        width: 267px;
    
    }

    .subTaskEdit {
        width: 337px;
        height: 40px;
    }

    .subTaskSaveButton {
        height: 16px;
        cursor: pointer;
    }

    .subTaskEditButton {
        height: 20px;
    }

    .subTaskDeleteButton {
        height: 20px;
    }

    .subTaskList {
        max-height: 141px;
    }

    .subTaskErrorMessage.visible {
      font-size: 14px;
    }

    .addTaskInputTitle {
        font-size: 16px;
    }

    .inputAddTask {
        width: 342px;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
    }

    ::placeholder {
        font-size: 16px;
        font-weight: 400;
    }

    .textAreaAddTask {
        width: 342px;
        height: 80px;
        font-size: 16px;
        font-weight: 400
    }

    .selectedContactsHeadline {
        font-size: 16px;
        font-weight: 400;
    }

    .assignedAddTask {
        width: 342px;
        height: 40px;
    }

    .contactIcon {
        width: 38px;
        height: 38px;
    }

    .contactName {
        font-size: 16px;
        font-weight: 400;
        margin-left: 12px;
    }

    .contactDropdown {
        max-height: 290px;
        width: 342px;
    }

    .inputAddTaskDueDate {
        width: 341px;
        height: 40px;
        padding-bottom: 16px;
    }

    .inputAddTaskDueDate::-webkit-datetime-edit {
        font-size: 16px;
    }
    
    .prioButtonUrgent {
        width: 93px;
        height: 46px;
        margin-right: 5px;
        font-size: 14px;
        font-weight: 400;
       
    }

    .prioButtonMedium {
        width: 93px;
        height: 46px;
        margin-right: 5px;
        font-size: 14px;
        font-weight: 400;
       
    }

    .prioButtonLow {
        width: 93px;
        height: 46px;
        margin-right: 5px;
        font-size: 14px;
        font-weight: 400;
       
    }

    .prioButtonUrgent img {
        height: 16px;
        width: 16px;
    }
    

    .prioButtonMedium img {
        height: 20px;
        width: 20px;
        padding-left: 5px;
    }
    
    .prioButtonLow img {
        height: 16px;
        width: 16px;
    }
    
    .selectedOption{
        width: 342px;
        height: 40px;
    }

    .selectedCategoryHeadline {
        font-size: 16px;
        font-weight: 400;
    }

    .dropDownContent {
        z-index: 999;
        width: 342px;
    }

    .categoryItem {
        font-size: 16px;
        font-weight: 400;
    }

    .clearAndCreateButtons {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 85px;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: #F6F7F8;
        z-index: 999;
        padding-left: 89px;
    }

    .requiredBefore {
        padding-left: 63px;
    }


    .inputContainerDueDate {
        padding-bottom: 12px;
    }

    .clearButton {
        font-size: 16px;
        font-weight: 400;
        border: 1px solid #2A3647;
        width: 97px;
        height: 49px;
        margin-right: 10px
    }

    .createButton {
        font-size: 16px;
        font-weight: 700;
        width: 141px;
        height: 49px;
    
    }

    .inputError {
        height: 42px;
    }

    .deleteCurrentTextButton {
        margin-top: 2px;
        height: 12px;
        width: 12px;
    }

    .addNewTextButton {
        height: 14px;
        width: 14px;
    }    
}