body.no-scroll {
    overflow: hidden;
  }

  .main-board {
    width: 1208px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
  }

  .board-headline-container {
    width: 1208px;
    height: 232px;
    display: flex;
    flex-direction: column;
    background-color: #f6f7f8;
  }

  .board-add-task {
    width: 1056px;
    height: 73px;
    margin-left: 64px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headline-span-board {
    font-size: 61px;
    font-weight: 700;
  }

  .input-container {
    height: 48px;
    width: 504px;
    gap: 32px;
    display: flex;
    align-items: center;
  }

  .input-field-complett{
    width: 312px;
    height: 48px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    font-size: 20px;
    font-weight: 400;
    color: #d1d1d1;
    transition: border 0.3s ease;
    cursor: pointer;
  }

  .input-field-complett.focused {
    border: 1px solid #29ABE2; 
  }

  .img-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
  }

  .input-find-task {
    width: 232px;
    height: 48px;
    padding: px 16px 8px 16px;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .button-add-task-board {
    width: 160px;
    height: 48px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2a3647;
    background-color: #2a3647;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .button-add-task-board:hover{
    background-color: #29ABE2;
    border:#29ABE2;
  }

  .column-titel-container {
    width: 1208px;
    height: 24px;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
  }

  .column-titel {
    width: 244px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #42526e;
  }

  .cross-titel-button {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
  }

  .cross-titel-button:hover{
    cursor: pointer;
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(100%) contrast(100%);
  }

  /* Drag Area */
  .drag-area-container {
    width: 1208px;
    height: 688px;
    margin-top: 8px;
    padding: 0px 64px 0px 64px;
    gap: 26px;
    display: flex;
    justify-content: space-between;
  }

  .drag-area {
    width: 246px;
    min-height: 688px;
    transition: 0.3s;
    border-radius: 8px;
  }

  .no-tasks {
    width: 246px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e7e7e7;
    font-size: 16px;
    font-weight: 400;
  }

  /* Titel Card */
  .titel-card {
    width: 252px;
    height: 263px;
    border-radius: 24px;
    padding: 16px;
    gap: 10px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: grab;
  }

  .titel-card:hover {
    transform: scale(1.02) rotate(5deg);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
  }

  .titel-card.dragging {
    cursor: grabbing;
  }

  .user-story {
    width: 113px;
    height: 27px;
    border-radius: 8px;
    padding: 4px 16px;
    background-color: #0038ff;
    color: white;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-description {
    width: 220px;
    height: 84px;
    border-radius: 10px;
    gap: 4px;
  }

  .task-title {
    width: 220px;
    height: 38px;
    font-weight: 700;
    font-size: 16px;
    color: #2a3647;
    margin: 0;
  }

  .task-description {
    width: 220px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    color: #a8a8a8;
    margin: 4px 0 0 0;
  }

  .task-progress {
    width: 220px;
    height: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .progress-bar {
    width: 128px;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 8px;
    position: relative;
  }

  .progress-fill {
    height: 100%;
    background-color: #4589ff;
    border-radius: 8px;
  }

  .progress-text {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    line-height: 16px;
    margin-left: 11px;
  }

  .task-assigned {
    width: auto;
    height: 32px;
    display: flex;
  }

  .person-circle {
    width: 32px;
    height: 32px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: white;
    margin-left: -5px;
  }

  .priority-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  /* Overlay für den Hintergrund */
  .card-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease;
  }

  .card-overlay.hidden {
    display: none;
    opacity: 0;
  }

  /* Erweiterte Titel-Karte */
  .expanded-card-overlay {
    width: 525px;
    height: 870px;
    border-radius: 30px;
    padding: 48px 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    box-shadow: 0px 0px 4px 0px #00000029;
    animation: slideInOverlay 0.5s forwards;
    z-index: 1001;
  }

  @keyframes slideInOverlay {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .close-story-container-overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close-btn-overlay {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .user-story-overlay {
    width: 164px;
    height: 36px;
    border-radius: 8px;
    background-color: #0038ff;
    color: white;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
  }

  .expanded-card-overlay .task-title-overlay {
    width: 445px;
    height: 219px;
    font-weight: 700;
    font-size: 61px;
    color: #000000;
  }

  .expanded-card-overlay .task-description-overlay {
    width: 445px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
  }

  .due-date-overlay {
    width: 445px;
    height: 24px;
    gap: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .date-line-overlay {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #2a3647;
  }

  .date-date-overlay {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
  }

  .priority-container-overlay {
    width: 445px;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
  }

  .priority-line-overlay {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #2a3647;
  }

  .priority-focus-overlay {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
  }

  .priority-focus-img-container {
    display: flex;
    align-items: center;
    width: 139px;
    height: 32px;
    padding: 4px 18px 4px 18px;
    gap: 10px;
    border-radius: 10px;
  }

  .task-assigned-container-overlay {
    width: 445px;
    height: 160px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  .task-assigned-line-overlay {
    width: 445px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #2a3647;
  }

  .person-container-overlay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: 445px;
    height: 56px;
    padding: 7px 16px 7px 16px;
  }

  .person-circle-overlay {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    background-color: rgb(28, 10, 195);
    color: white;
  }

  .person-name-overlay {
    font-size: 16px;
    font-weight: 500;
    color: #2a3647;
  }

  .subtask-conatiner-overlay{
    width: 445px;
    height: 100px;
    gap: 8px;
    display: flex;
    flex-direction: column;
  }

  .subtask-line-overlay{
    width: 445px;
    height: 24px;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    color: #2a3647;
  }

  .subtasks-box-overlay{
    width: 445px;
    height: 68px;
    gap: 4px;
    display: flex;
    flex-direction: column;
  }

  .subtasks-titelbox-overlay{
    width: 344px;
    height: 32px;
    padding: 6px 16px 6px 16px;
    gap: 16px;
    display: flex;
    justify-content: center;
  }

  /* Aktion overlay*/
  .actions-overlay {
    position: absolute;
    bottom: 48px;
    right: 40px;
    display: flex;
    gap: 8px;
  }

  .action-btn-overlay{
    width: 81px;
    height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    color: #2a3647;
  }

  .card-overlay.hidden {
    display: none;
  }

  .add-task-expanded-overlay {
    width: 1116px;
    height: 870px;
    padding: 62px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }

  .board-add-task-h1-conatiner-cross{
    display: flex;
    justify-content: space-between;
    width: 968px;
  }

  .board-add-task-h1{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
  }

  .required-button-expanded-conatiner{
    display: flex;
    justify-content: space-between;
    width: 986px;
  }

  .required-expanded-button{
    width: 334px;
    height: 56px;
    display: flex;
    justify-content: center;
  }