.around-container-expended-card{
  width: 525px;
  height: 800px;
  border-radius: 30px;
  background-color: white;
  animation: slideInOverlay 0.5s forwards;
  display: flex;
  justify-content: center;
}

.expanded-card-overlay {
  width: 513px;
  max-height: 800px;
  padding: 0px 20px 36px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  gap: 24px;
  overflow-y: auto;
}

.expanded-card-overlay::-webkit-scrollbar-track {
  margin-top: 50px;
  margin-bottom: 50px;
}


@keyframes slideInOverlay {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.close-story-container-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn-overlay {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: sticky; 
    top: 54px; 
    margin-left: 420px;
    z-index: 100; 
}

.close-btn-overlay:hover {
    background-color: #EEEEEE;
    transform: scale(1.2);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.task-title-overlay {
  width: 445px;
  font-weight: 700;
  font-size: 61px;
  color: #000000;
  line-height: 1.2;
  overflow-wrap: break-word;
  height: auto;
}

.task-description-overlay {
  width: 445px;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.due-date-overlay {
  width: 445px;
  height: 24px;
  gap: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date-line-overlay {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #2a3647;
  margin-bottom: 5px;
}

.date-date-overlay {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.priority-container-overlay {
  width: 445px;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.priority-line-overlay {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #2a3647;
  margin-bottom: 8px;
}

.priority-focus-img-container {
  display: flex;
  align-items: center;
}

.priority-focus-overlay {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.task-assigned-container-overlay {
  width: 449px;
  display: flex;
  flex-direction: column;
}

.task-assigned-line-overlay {
  width: 445px;
  height: 24px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #2a3647;
}

.person-container-overlay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 445px;
  height: 56px;
  padding: 7px 16px 7px 16px;
}

.person-circle-overlay {
  width: 42px;
  height: 42px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  background-color: rgb(28, 10, 195);
  color: white;
}

.person-name-overlay {
  font-size: 16px;
  font-weight: 500;
  color: #2a3647;
}

.subtask-conatiner-overlay {
  width: 445px;
  margin-top: 1px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.subtask-line-overlay {
  width: 445px;
  height: 24px;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  color: #2a3647;
}

.subtasks-box-overlay {
  width: 445px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.subTask {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  padding: 0px 16px;
  border-radius: 10px;
}

.subtasks-item {
  width: 344px;
  height: 32px;
  padding: 6px 16px 6px 16px;
  gap: 16px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
}

.actions-overlay {
  display: flex;
  justify-content: flex-end;
  bottom: 48px;
  right: 40px;
  display: flex;
  gap: 8px;
}

.action-btn-overlay {
  width: 81px;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #2a3647;
}

.action-btn-overlay:hover {
  color: #007CEE;
  transition: all 0.3s ease;
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.card-overlay.hidden {
  display: none;
}

.add-task-overlay {
  width: 1116px;
  height: 870px;
  padding: 62px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.add-task-container-header {
  display: flex;
  justify-content: space-between;
  width: 968px;
}

.add-task-title {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}

.required-button-expanded-container {
  display: flex;
  justify-content: space-between;
  width: 986px;
}

.required-expanded-button {
  width: 334px;
  height: 56px;
  display: flex;
  justify-content: center;
}

.btn-check-edit {
  width: 89px;
  height: 57px;
  border-radius: 10px;
  padding: 9px;
  color: #FFFFFF;
  background-color: #2a3647;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.styled-checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  appearance: none;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.styled-checkbox:checked {
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 4px;
}

.styled-checkbox:checked::after {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 16px;
}

.styled-checkbox:not(:checked) {
  background-color: #fff;
}

.styled-checkbox:not(:checked)::after {
  content: '';
}

.required-button-expanded-conatiner {
  display: flex;
  justify-content: space-between;
  width: 986px;
}

.required-expanded-button {
  width: 334px;
  height: 56px;
  display: flex;
  justify-content: center;
}