body.no-scroll {
  overflow: hidden;
}

.main-board {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.board-add-task {
  height: 73px;
  margin-left: 64px;
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headline-span-board {
  font-size: 61px;
  font-weight: 700;
}

.responsiv-plus-btn {
  width: 40px;
  height: 40px;
  padding: 3px;
  gap: 10px;
  border-radius: 10px;
  background: #2A3647;
  border: #2A3647;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}

.responsiv-plus-btn:hover {
  background-color: #29ABE2;
  border: #29ABE2;
}

.input-container {
  height: 48px;
  width: 504px;
  gap: 32px;
  display: flex;
  align-items: center;
}

.input-field-complett {
  width: 312px;
  height: 48px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  font-size: 20px;
  font-weight: 400;
  color: #d1d1d1;
  transition: border 0.3s ease;
  cursor: pointer;
}

.input-field-complett.focused {
  border: 1px solid #29ABE2;
}

.img-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.input-find-task {
  width: 232px;
  height: 48px;
  padding: px 16px 8px 16px;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-add-task-board {
  width: 160px;
  height: 48px;
  padding: 8px 16px 8px 16px;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background-color: #2a3647;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button-add-task-board:hover {
  background-color: #29ABE2;
  border: #29ABE2;
}

.column-titel-container {
  width: 1208px;
  height: 24px;
  padding-left: 64px;
  padding-right: 64px;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.column-titel {
  width: 244px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #42526e;
  margin-bottom: 15px;
}

.column {
  display: flex;
  flex-direction: column;
}


.cross-titel-button {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.cross-titel-button:hover {
  cursor: pointer;
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

/* Drag Area */
.drag-area-container {
  margin-top: 8px;
  padding: 0px 64px 0px 64px;
  gap: 26px;
  display: flex;
  justify-content: space-between;
}

.drag-area {
  width: 246px;
  min-height: 550px;
  transition: 0.3s;
  border-radius: 8px;
}

.drag-area.highlight {
  border: 2px dashed #2A3647;
}

.no-tasks {
  width: 246px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #454545;
  background-color: rgb(189, 189, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #646464;
  font-size: 16px;
  font-weight: 400;
}

/* Titel Card */
.titel-card {
  width: 252px;
  height: 263px;
  border-radius: 24px;
  padding: 16px;
  gap: 10px;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: grab;
  touch-action: none; /* Verhindert das Standardverhalten von Touch-Events */
}

.titel-card:hover {
  transform: scale(1.02) rotate(5deg);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}

.titel-card.dragging {
  opacity: 0.5;
}

.user-story {
  width: 113px;
  height: 27px;
  border-radius: 8px;
  padding: 4px 16px;
  background-color: #0038ff;
  color: white;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-description {
  width: 220px;
  height: 84px;
  border-radius: 10px;
  gap: 4px;
}

.task-title {
  width: 220px;
  height: 38px;
  font-weight: 700;
  font-size: 16px;
  color: #2a3647;
  margin: 0;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.task-description {
  width: 220px;
  height: 38px;
  font-weight: 400;
  font-size: 16px;
  color: #a8a8a8;
  margin: 4px 0 0 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.task-progress {
  width: 220px;
  height: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 128px;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 0;
  background-color: #4589ff;
  border-radius: 8px;
  transition: width 0.3s ease;
}

.task-progress-placeholder {
  width: 220px;
  height: 16px;
  visibility: hidden;
  margin-top: 8px;
}

.progress-text {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  line-height: 16px;
  margin-left: 11px;
}

.task-assigned {
  width: auto;
  height: 32px;
  display: flex;
}

.person-circle {
  width: 32px;
  height: 32px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: white;
  margin-left: -5px;
}

.priority-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.5s ease;
}

.card-overlay.hidden {
  display: none;
  opacity: 0;
}