@media (max-width: 1380px) {

  .drag-area-container {
    padding: 0px 30px 0px 30px;
  }


}

@media (max-width: 1360px) {
  .column {
    margin-left: 0;
    overflow: auto;
  }

  .column-titel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 18px;
  }

  .drag-area {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    gap: 16px;
    padding: 10px;
    min-height: 260px;
    border-radius: 8px;
    width: 100%;
  }

  .drag-area-container {
    flex-direction: column;
    padding: 0px 8px 0px 8px;
  }

}

@media (max-width: 1070px) {
  .board-add-task {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .input-container {
    width: 100%;
  }

  .button-add-task-board {
    display: none;
  }

  .responsiv-plus-btn {
    display: flex;
  }

  .responsiv-plus-headline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 312px;
  }

  .drag-area {
    overflow-x: auto;
  }

  .drag-area-container {
    flex-direction: column;
    padding: 60px 8px 0px 8px;
  }

}

@media (max-width: 1020px) {

  body {
    padding-left: unset;
    margin-bottom: 90px;
  }

  .board-add-task {
    margin-top: 0px;
  }

  .around-container-expended-card {
    width: 500px;
    height: 450px;
  }

  .expanded-card-overlay{
    height: 520px;
  }

  .card-overlay{
    margin-top: 40px;
  }

  .task-title-overlay {
    width: 100%;
    min-height: 70px;
    max-height: 130px;
    font-weight: 700;
    font-size: 50px;
  }

  .task-description-overlay {
    min-height: 30px;
    max-height: 80px;
    font-weight: 400;
    font-size: 20px;
  }

  .close-btn-overlay {
    width: 45px;
    height: 45px;
  }

  .edit-card-around {
    width: 500px;
    height: 720px;
  }

  .edit-card-body {
    width: 100%;
  }

  .edit-card-header {
    margin: 10px 20px;
  }

  .assignedAddTaskContainer {
    display: unset;
  }

  .inputAddTaskDueDate {
    width: 95%;
    margin: 0% 2%;
  }

  .assignedAddTask {
    width: 100%;
  }

  .aktivContacts {
    width: 100%;
  }

  .subTaskContainer {
    width: 90%;
  }

  .inputAddSubTask {
    width: 100%;
  }

  .subTask {
    width: 100%;
  }

}

@media (max-width: 500px) {

  .around-container-epended-card {
    width: 95%;
  }

  .expanded-card-overlay {
    width: 100%;
    min-height: 80vh;
    padding: 20px 8px;
  }

  .due-date-overlay {
    width: 100%;
  }

  .priority-container-overlay {
    width: 100%;
  }

  .task-assigned-line-overlay {
    width: 100%;
  }

  .task-description-overlay{
    width: 100%;
  }

  .task-assigned-container-overlay {
    width: 100%;
  }

  .person-container-overlay {
    width: 100%;
  }

  .subtask-conatiner-overlay {
    width: 100%;
  }

  .subtask-line-overlay {
    width: 100%;
  }

  .subtasks-box-overlay {
    width: 100%;
  }

  .edit-card-header {
    margin: 10px 20px;
  }

  .edit-card-around {
    width: 95%;
    height: 80vh;
  }

  .edit-card-body {
    padding: 20px 8px;
  }

  .inputAddTaskDueDate {
    width: 100%;
  }

  .prioButtonContainerEdit {
    zoom: 90%;
  }

  .prioButtonLowEdit {
    margin-right: unset;
  }

  .assignedAddTask {
    width: 100%;
  }

  .aktivContacts {
    width: 100%;
  }

  .subTaskContainer {
    width: 90%;
  }

  .subTaskInputContainer {
    width: 100%;
    position: unset;
    justify-content: center;
  }

  .inputAddSubTask {
    width: 100%;
  }

  .subTask {
    width: 100%;
  }

  .close-btn-overlay {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: sticky; 
    top: 54px; 
    margin-left: 300px;
    z-index: 100; 
  }

}

@media (max-width: 430px) {

  .board-add-task {
    margin: 0;
    margin-top: 48px;
    margin-left: 10px;
  }

  .headline-span-board {
    font-size: 47px;
  }

  .responsiv-plus-btn {
    width: 34px;
    height: 34px;
  }

  .responsiv-plus-headline-container {
    width: 100%;
    padding-right: 15px;
    margin-bottom: 15px;
  }

  .input-field-complett {
    width: 100%;
    margin-right: 15px;
}

.column-titel {
  width: 100%;
  padding-right: 8px;
}

}

@media (max-width: 340px) {
  .input-container {
    width: 90px;
  }

  .responsiv-plus-headline-container {
    width: 250px;
  }

  .img-input-container {
    gap: 0px;
  }
}