body.no-scroll {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

.main-board {
  width: 1208px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.board-add-task {
  width: 1056px;
  height: 73px;
  margin-left: 64px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline-span-board {
  font-size: 61px;
  font-weight: 700;
}

.responsiv-plus-btn {
  width: 40px;
  height: 40px;
  padding: 3px;
  gap: 10px;
  border-radius: 10px;
  background: #2A3647;
  border: #2A3647;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}

.responsiv-plus-btn:hover {
  background-color: #29ABE2;
  border: #29ABE2;
}

.input-container {
  height: 48px;
  width: 504px;
  gap: 32px;
  display: flex;
  align-items: center;
}

.input-field-complett {
  width: 312px;
  height: 48px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  font-size: 20px;
  font-weight: 400;
  color: #d1d1d1;
  transition: border 0.3s ease;
  cursor: pointer;
}

.input-field-complett.focused {
  border: 1px solid #29ABE2;
}

.img-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.input-find-task {
  width: 232px;
  height: 48px;
  padding: px 16px 8px 16px;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-add-task-board {
  width: 160px;
  height: 48px;
  padding: 8px 16px 8px 16px;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background-color: #2a3647;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button-add-task-board:hover {
  background-color: #29ABE2;
  border: #29ABE2;
}

.column-titel-container {
  width: 1208px;
  height: 24px;
  padding-left: 64px;
  padding-right: 64px;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.column-titel {
  width: 244px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #42526e;
  margin-bottom: 15px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}


.cross-titel-button {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.cross-titel-button:hover {
  cursor: pointer;
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

/* Drag Area */
.drag-area-container {
  width: 1208px;
  margin-top: 8px;
  padding: 0px 64px 0px 64px;
  gap: 26px;
  display: flex;
  justify-content: space-between;
}

.drag-area {
  width: 246px;
  min-height: 550px;
  transition: 0.3s;
  border-radius: 8px;
}

.no-tasks {
  width: 246px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e7e7e7;
  font-size: 16px;
  font-weight: 400;
}

/* Titel Card */
.titel-card {
  width: 252px;
  height: 263px;
  border-radius: 24px;
  padding: 16px;
  gap: 10px;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: grab;
}

.titel-card:hover {
  transform: scale(1.02) rotate(5deg);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}

.titel-card.dragging {
  cursor: grabbing;
}

.user-story {
  width: 113px;
  height: 27px;
  border-radius: 8px;
  padding: 4px 16px;
  background-color: #0038ff;
  color: white;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-description {
  width: 220px;
  height: 84px;
  border-radius: 10px;
  gap: 4px;
}

.task-title {
  width: 220px;
  height: 38px;
  font-weight: 700;
  font-size: 16px;
  color: #2a3647;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.task-description {
  width: 220px;
  height: 38px;
  font-weight: 400;
  font-size: 16px;
  color: #a8a8a8;
  margin: 4px 0 0 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.task-progress {
  width: 220px;
  height: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 128px;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 0;
  background-color: #4589ff;
  border-radius: 8px;
  transition: width 0.3s ease;
}

.task-progress-placeholder {
  width: 220px;
  height: 16px;
  visibility: hidden;
  margin-top: 8px;
}

.progress-text {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  line-height: 16px;
  margin-left: 11px;
}

.task-assigned {
  width: auto;
  height: 32px;
  display: flex;
}

.person-circle {
  width: 32px;
  height: 32px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: white;
  margin-left: -5px;
}

.priority-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

/* Overlay für den Hintergrund */
.card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.5s ease;
}

.card-overlay.hidden {
  display: none;
  opacity: 0;
}

/* Erweiterte Titel-Karte */
.around-container-epended-card {
  width: 525px;
  height: 800px;
  border-radius: 30px;
  background-color: white;
  animation: slideInOverlay 0.5s forwards;
  display: flex;
  justify-content: center;
}

.expanded-card-overlay {
  width: 513px;
  min-height: 650px;
  padding: 36px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  gap: 24px;
  overflow-y: auto;
}

.expanded-card-overlay::-webkit-scrollbar-track {
  margin-top: 50px;
  margin-bottom: 50px;
}


@keyframes slideInOverlay {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.close-story-container-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn-overlay {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.task-title-overlay {
  width: 445px;
  min-height: 150px;
  max-height: 250px;
  font-weight: 700;
  font-size: 61px;
  color: #000000;
  line-height: 1.2;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.task-description-overlay {
  min-height: 80px;
  max-height: 250px;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  line-height: 1.2;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.due-date-overlay {
  width: 445px;
  height: 24px;
  gap: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date-line-overlay {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #2a3647;
}

.date-date-overlay {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.priority-container-overlay {
  width: 445px;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.priority-line-overlay {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #2a3647;
}

.priority-focus-img-container {
  display: flex;
  align-items: center;
}

.priority-focus-overlay {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.task-assigned-container-overlay {
  width: 449px;
  display: flex;
  flex-direction: column;
}

.task-assigned-line-overlay {
  width: 445px;
  height: 24px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #2a3647;
}

.person-container-overlay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 445px;
  height: 56px;
  padding: 7px 16px 7px 16px;
}

.person-circle-overlay {
  width: 42px;
  height: 42px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  background-color: rgb(28, 10, 195);
  color: white;
}

.person-name-overlay {
  font-size: 16px;
  font-weight: 500;
  color: #2a3647;
}

.subtask-conatiner-overlay {
  width: 445px;
  margin-top: 1px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.subtask-line-overlay {
  width: 445px;
  height: 24px;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  color: #2a3647;
}

.subtasks-box-overlay {
  width: 445px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.subtasks-item {
  width: 344px;
  height: 32px;
  padding: 6px 16px 6px 16px;
  gap: 16px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
}

/* Aktion overlay*/
.actions-overlay {
  display: flex;
  justify-content: flex-end;
  bottom: 48px;
  right: 40px;
  display: flex;
  gap: 8px;
}

.action-btn-overlay {
  width: 81px;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #2a3647;
}

.card-overlay.hidden {
  display: none;
}

/* Styles nur für Add-Task-Container */
.add-task-overlay {
  width: 1116px;
  height: 870px;
  padding: 62px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.add-task-container-header {
  display: flex;
  justify-content: space-between;
  width: 968px;
}

.add-task-title {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}

/* Add Task Button Container */
.required-button-expanded-container {
  display: flex;
  justify-content: space-between;
  width: 986px;
}

.required-expanded-button {
  width: 334px;
  height: 56px;
  display: flex;
  justify-content: center;
}

.btn-check-edit {
  width: 89px;
  height: 57px;
  border-radius: 10px;
  padding: 9px;
  color: #FFFFFF;
  background-color: #2a3647;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Grundstil für die versteckte Checkbox */
.styled-checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  appearance: none;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.styled-checkbox:checked {
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 4px;
}

/* Stil für das Häkchen*/
.styled-checkbox:checked::after {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 16px;
}

.styled-checkbox:not(:checked) {
  background-color: #fff;
  /* weißer Hintergrund */
}

.styled-checkbox:not(:checked)::after {
  content: '';
  /* kein Häkchen */
}

.required-button-expanded-conatiner {
  display: flex;
  justify-content: space-between;
  width: 986px;
}

.required-expanded-button {
  width: 334px;
  height: 56px;
  display: flex;
  justify-content: center;
}

/* Edit-Card Overlay */
.card-overlay.hidden {
  display: none;
}

.edit-card-around {
  width: 525px;
  height: 800px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  animation: slideInOverlay 0.5s forwards;
}

.edit-card-body {
  width: 513px;
  min-height: 650px;
  padding: 36px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  gap: 24px;
  overflow-y: auto;
}

.edit-card-body::-webkit-scrollbar-track {
  margin-top: 50px;
  margin-bottom: 50px;
}

.edit-card-overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.edit-card-header {
  display: flex;
  justify-content: space-between;
  margin: 36px 20px;
  align-items: center;
  color: #2a3647;
}

.close-btn-overlay {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.input-group-edit {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.edit-label {
  font-size: 16px;
  font-weight: 500;
  color: #2a3647;
  margin-bottom: 8px;
}

.inputAddTask,
.textAreaAddTask {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.inputAddTask:focus,
.textAreaAddTask:focus {
  border-color: #29ABE2;
}

.btn-check-edit-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.btn-check-edit {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #2a3647;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-check-edit:hover {
  background-color: #29ABE2;
  border: #29ABE2;
}

/* Styles for priority buttons */
.prioButtonContainerEdit {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 24px;
}

.prioButtonUrgentEdit {
  width: 136px;
  height: 56px;
  padding: 10px;
  background-color: white;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 16px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.prioButtonUrgentEdit:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.prioButtonMediumEdit {
  width: 136px;
  height: 56px;
  padding: 10px;
  background-color: white;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 16px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.prioButtonMediumEdit img {
  filter: brightness(0) saturate(100%) invert(68%) sepia(94%) saturate(342%) hue-rotate(360deg) brightness(103%) contrast(103%);
}

.prioButtonMediumEdit:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.prioButtonLowEdit {
  width: 136px;
  height: 56px;
  padding: 10px;
  background-color: white;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 16px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.prioButtonLowEdit:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.prioButtonUrgentEdit.active:hover,
.prioButtonMediumEdit.active:hover,
.prioButtonLowEdit.active:hover {
  box-shadow: none;
}

.prioButtonUrgentEdit.active {
  background-color: #FF3D00;
  color: white;
}

.prioButtonUrgentEdit.active img {
  filter: brightness(0) invert(1);
}

.prioButtonMediumEdit.active {
  background-color: #FFA800;
  color: white;
}

.prioButtonMediumEdit.active img {
  filter: brightness(0) invert(1);
}

.prioButtonLowEdit.active {
  background-color: #7AE229;
  color: white;
}

.prioButtonLowEdit.active img {
  filter: brightness(0) invert(1);
}

.contactBubble {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: white;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-size: 12px;
  cursor: pointer;
}

.assignedAddTaskContainer {
  position: relative;
}

.contactDropdown {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding: 8px;
  background-color: white;
  display: none;
  z-index: 10;
}

.contactDropdownItem {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.contactDropdownItem:hover {
  background-color: #f0f0f0;
}

.contactName {
  font-size: 16px;
}

.subTaskInput {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}

/* ///////////////////////////////Mobile-Screen////////////////////////////////////////////// */

@media (max-width: 1020px) {

  body {
    padding-left: unset;
    margin-bottom: 90px;
  }
}

@media (max-width: 1380px) {

  .drag-area-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 0;
    margin-left: 10px;
    min-width: 300px;
  }

  .column {
    width: 100%;
    max-width: 400px;
    margin-left: 0;
  }

  .column-titel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 18px;
  }

  .drag-area {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    gap: 16px;
    padding: 10px;
    min-height: 320px;
    border: 1px dashed #ccc;
    border-radius: 8px;
  }
}

@media (max-width: 1360px) {

  .board-add-task {
    width: 850px;
  }
}

@media (max-width: 1160px) {

  .board-add-task {
    width: 750px;
  }
}

@media (max-width: 1070px) {
  .board-add-task {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .input-container {
    width: 100%;
    /* Volle Breite für das Eingabefeld */
  }

  .button-add-task-board {
    display: none;
  }

  .responsiv-plus-btn {
    display: flex;
  }

  .responsiv-plus-headline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 312px;
  }

  .drag-area {
    overflow-x: auto;
    width: 545px;
    margin-left: 140px;
  }

}

@media (max-width: 1020px) {

  body {
    padding-left: unset;
    margin-bottom: 90px;
  }

  .drag-area {
    width: 815px;
    margin-left: 416px;
  }
}

@media (max-width: 840px) {
  .drag-area {
    width: 545px;
  }

  .drag-area {
    margin-left: 140px;
  }
}

@media (max-width: 575px) {

  .drag-area {
    width: 275px;
    margin-left: 20px;
  }

  .column-titel {
    width: 250px;
  }

}

@media (max-width: 430px) {

  .drag-area-container {
    width: 300px;
  }

  .board-add-task {
    width: 750px;
    margin: 0;
    margin-top: 48px;
    margin-left: 10px;
  }
}

@media (max-width: 340px) {
  .input-container {
    width: 90px;
  }

  .responsiv-plus-headline-container {
    width: 250px;
  }

  .img-input-container {
    gap: 0px;
  }

  .drag-area {
    width: 275px;
    margin-left: 0px;
  }
}