.card-overlay.hidden {
    display: none;
  }
  
  .edit-card-around {
    width: 525px;
    height: 800px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    animation: slideInOverlay 0.5s forwards;
  }
  
  .edit-card-body {
    width: 513px;
    min-height: 650px;
    padding: 36px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    gap: 24px;
    overflow-y: auto;
  }
  
  .edit-card-body::-webkit-scrollbar-track {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .edit-card-overlay {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .edit-card-header {
    display: flex;
    justify-content: space-between;
    margin: 36px 20px;
    align-items: center;
    color: #2a3647;
  }
  
  .close-btn-overlay {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .input-group-edit {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .edit-label {
    font-size: 16px;
    font-weight: 500;
    color: #2a3647;
    margin-bottom: 8px;
  }
  
  .inputAddTask,
  .textAreaAddTask {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .inputAddTask:focus,
  .textAreaAddTask:focus {
    border-color: #29ABE2;
  }

  .assignedAddTask{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    background-color: white;
    cursor: pointer;
}

.assignedAddTask:hover {
    box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.2);
}
  
  .btn-check-edit-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }
  
  .btn-check-edit {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #2a3647;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-check-edit:hover {
    background-color: #29ABE2;
    border: #29ABE2;
  }
  
  /* Styles for priority buttons */
  .prioButtonContainerEdit {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 24px;
  }
  
  .prioButtonUrgentEdit {
    width: 136px;
    height: 56px;
    padding: 10px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .prioButtonUrgentEdit:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
  }
  
  .prioButtonMediumEdit {
    width: 136px;
    height: 56px;
    padding: 10px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .prioButtonMediumEdit img {
    filter: brightness(0) saturate(100%) invert(68%) sepia(94%) saturate(342%) hue-rotate(360deg) brightness(103%) contrast(103%);
  }
  
  .prioButtonMediumEdit:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
  }
  
  .prioButtonLowEdit {
    width: 136px;
    height: 56px;
    padding: 10px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .prioButtonLowEdit:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
  }
  
  .prioButtonUrgentEdit.active:hover,
  .prioButtonMediumEdit.active:hover,
  .prioButtonLowEdit.active:hover {
    box-shadow: none;
  }
  
  .prioButtonUrgentEdit.active {
    background-color: #FF3D00;
    color: white;
  }
  
  .prioButtonUrgentEdit.active img {
    filter: brightness(0) invert(1);
  }
  
  .prioButtonMediumEdit.active {
    background-color: #FFA800;
    color: white;
  }
  
  .prioButtonMediumEdit.active img {
    filter: brightness(0) invert(1);
  }
  
  .prioButtonLowEdit.active {
    background-color: #7AE229;
    color: white;
  }
  
  .prioButtonLowEdit.active img {
    filter: brightness(0) invert(1);
  }
  
  .contactBubble {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .assignedAddTaskContainer {
    position: relative;
  }

  .inputAssignedToEdit{
    display: flex;
    justify-content: space-between;
  }
  
  .contactDropdown {
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 8px;
    background-color: white;
    display: none;
    z-index: 10;
  }
  
  .contactDropdownItem {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
  }
  
  .contactDropdownItem:hover {
    background-color: #f0f0f0;
  }
  
  .contactName {
    font-size: 16px;
  }
  
  .subTaskInput {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
  }