/* Modal Styles für Kontaktinformationen */
#contactInfoModal {
    backdrop-filter: unset;
    overflow-y: auto;
}

/* Inhalt des Modals */
.contact-info-modal-content {
    background-color: #F6F7F8;
    width: 100%;
    height: 81%;
    padding: 20px;
    position: relative;
    animation: slideInFromRight 0.3s ease-out forwards;
}

/* Anpassung der Kontakt-Headline im Modal */
.contact-info-modal-content .contact-headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.contact-info-modal-content .contact-headline h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 10px 0;
}

.contact-info-modal-content .contact-headline h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
}

/* Schließen-Button */
.contact-info-modal-content .close {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.contact-info-modal-content .close:hover {
    background-color: #EEEEEE;
    transform: scale(1.2);
    border-radius: 50%;
    transition: all 0.3s ease;
}

/* Anpassung der Kontaktinformationen im Modal */
.contact-info-modal-content .contact-details-header {
    flex-direction: unset;
}

.contact-info-modal-content .contact-details-info h2 {
    margin: 10px 0;
    text-align: center;
}

.contact-info-modal-content .contact-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contact-info-modal-content .contact-actions button {
    margin: 0 5px;
}

/* Kontakt-Details-Body */
.contact-info-modal-content .contact-details-body {
    width: 100%;
    margin-top: 20px;
}

.contact-info-modal-content .contact-details-body h3 {
    text-align: unset;
    margin-bottom: 20px;
}

/* Standardmäßig ist der kompakte Button ausgeblendet */
#addContactBtnCompact {
    display: none;
}

/* Für kleinere Bildschirmgrößen */
@media (max-width: 800px) {
    .contact-info-modal-content {
        width: 100%;
    }

    .contact-info-modal-content .contact-headline h1 {
        font-size: 47px;
    }

    .contact-info-modal-content .contact-headline h2 {
        font-size: 20px;
    }

    .contact-info-modal-content .contact-icon-large {
        width: 80px;
        height: 80px;
        font-size: 32px;
    }

    /* Verstecken Sie den großen Button */
    #addContactBtn {
        display: none;
    }

    .contact-details-info {
        flex-grow: unset;
    }

    /* Zeigen Sie den kompakten Button an */
    #addContactBtnCompact {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 120px;
        right: 20px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #2A3647;
        box-shadow: 0px 0px 4px 0px #0000001A;
        cursor: pointer;
        border: none;
    }

    #addContactBtnCompact:hover {
        background-color: #29ABE2;
        font-weight: bolder;
        cursor: pointer;
        font-family: "inter", sans-serif;
        box-shadow: 0px 4px 4px 0px #00000040;
        transition: all 0.3s ease;
    }
}