/* ///////////////////////////Mobile-Screen/////////////////////////////////////// */

@media (max-width:1200px) {

    .add-contact-modal-content {
        zoom: 90%;
    }
}

@media (max-width:1020px) {

    .add-contact-modal-content {
        zoom: 80%;
    }
}

@media (max-width:900px) {

    .add-contact-modal-content {
        zoom: 75%;
    }
}

@media (max-width:800px) {

    .add-contact-modal-content {
        zoom: 100%;
    }

    .add-contact-modal-content {
        display: flex;
        width: 95%;
        height: 85%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        margin-bottom: 80px;
    }

    .add-contact-left {
        background-color: #2A3647;
        color: white;
        padding: 0px 0px 0px 48px;
        width: unset;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
    }

    .add-contact-left h2 {
        font-size: 47px;
    }

    .add-contact-left p {
        font-size: 20px;
    }

    .add-contact-right {
        background-color: #fff;
        width: unset;
        height: 55%;
        position: relative;
        display: flex;
        align-items: center;
    }

    .profileImg {
        position: absolute;
        top: -70px;
        margin-left: unset;
        margin-bottom: unset;
    }

    #addContactForm {
        gap: 15px;
    }

    .cancel-display-none {
        display: none;
    }

    .main-board-content {
        display: none !important;
        flex-direction: column;
    }

    .contacts-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-actions {
        justify-content: center;
    }

    .add-contact-right {
        background-color: #fff;
        width: unset;
        height: 55%;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #addContactForm {
        width: 90%;
        margin-left: unset;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .add-contact-right .close {
        display: none;
    }

    .add-contact-left .close {
        display: flex;
        width: 45px;
    }

    .modal-logo {
        display: none;
    }

    button#addContactBtn {
        display: none;
    }
}

@media (max-width:500px) {

    .add-contact-left {
        padding: 0px 8px 0px 12px;
    }

    .add-contact-left h2 {
        font-size: 40px;
    }

    .add-contact-left p {
        font-size: 16px;
    }

    .add-contact-left {
        justify-content: flex-start;
        padding: 70px 8px 0px 12px;
    }

}

@media (max-width:400px) {
    .add-contact-left {
        padding: 40px 8px 0px 12px;
    }

    .profileImg {
        top: -110px;
    }

    .add-contact-right {
        zoom: 95%;
    }
}