/* Modal Styles for Add Contact */

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

/* Keyframes für die Slide-In-Animation */
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Keyframes für die Slide-Out-Animation */
@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* CSS für das Add Contact Modal, während es angezeigt wird */
.add-contact-modal-content {
    animation: slideInFromRight 0.12s ease-out forwards;
}

/* CSS für das Add Contact Modal, während es geschlossen wird */
.add-contact-modal-content.slide-out {
    animation: slideOutToRight 0.12s ease-out forwards;
}

.add-contact-modal-content {
    display: flex;
    width: 1100px;
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.add-contact-left {
    background-color: #2A3647;
    color: white;
    padding: 0px 0px 0px 48px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.modal-logo {
    margin-bottom: 20px;
    width: 52px;
}

.modal-underline {
    width: 90px;
    margin-top: 16px;
}

.add-contact-left h2 {
    font-size: 61px;
    margin-bottom: 10px;
    font-weight: 700;
}

.add-contact-left p {
    font-size: 27px;
    font-weight: 300;
}

.add-contact-right {
    background-color: #fff;
    width: 60%;
    position: relative;
    display: flex;
    align-items: center;
}

.add-contact-left .close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #aaa;
    cursor: pointer;
}

.add-contact-left .close:hover {
    background-color: #EEEEEE;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.add-contact-right .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #aaa;
    cursor: pointer;
}

.add-contact-right .close:hover {
    background-color: #EEEEEE;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.profileImg {
    height: 120px;
    width: 120px;
    align-self: center;
    margin-left: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 47px;
}

#addContactForm {
    width: 422px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form-group {
    position: relative;
}

.form-actions {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    padding-top: 20px;
}

.cancel-button,
.create-button {
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.cancel-button {
    background-color: #F6F7F8;
    border: 1px solid #2A3647;
    color: #2A3647;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cancel-button:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: all 0.3s ease;
}

.cancel-button:hover img {
    transition: all 0.3s ease;
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.create-button {
    background-color: #2A3647;
    color: white;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.create-button:hover {
    background-color: #29ABE2;
    cursor: pointer;
    font-family: "inter", sans-serif;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: all 0.3s ease;
}

input#newContactName,
input#newContactEmail,
input#newContactPhone {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #D1D1D1;
    padding: 12px 21px;
    font-size: 20px;
    box-sizing: border-box;
}

input#newContactName:focus,
input#newContactEmail:focus,
input#newContactPhone:focus {
    outline: none !important;
    border: 1px solid #29ABE2;
}

input#newContactName {
    padding-right: 30px;
    background: url(/assets/img/person.svg) no-repeat right 21px center;
    background-color: white;
}

input#newContactEmail {
    padding-right: 30px;
    background: url(/assets/img/mail.svg) no-repeat right 21px center;
    background-color: white;
}

input#newContactPhone {
    padding-right: 30px;
    background: url(/assets/img/phone.svg) no-repeat right 21px center;
    background-color: white;
}

.error-message {
    position: absolute;
    left: 5%;
    right: 5%;
    justify-content: center;
    color: red;
    font-size: 12px;
    height: 12px;
    text-align: center;
}

/* Keyframes für Slide-In von unten */
@keyframes slideInBottom {
    0% {
        transform: translate(-50%, 100%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

/* Erfolgsmeldung-Popup */
.success {
    width: 312px;
    height: 65px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2A3647;
    color: white;
    padding: 0px 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    /* Standardmäßig ausgeblendet */
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    /* Verhindert, dass Popup fälschlicherweise angeklickt werden kann */
}

.success.show {
    display: flex;
    /* Sichtbar machen */
    animation: slideInBottom 0.5s forwards;
    /* Slide-In Animation anwenden */
    pointer-events: auto;
    /* Klicks auf das Popup erlauben */
}

@media (max-width:1200px) {

    .add-contact-modal-content {
        zoom: 90%;
    }
}

@media (max-width:1020px) {

    .add-contact-modal-content {
        zoom: 80%;
    }
}

@media (max-width:900px) {

    .add-contact-modal-content {
        zoom: 75%;
    }
}

@media (max-width:800px) {

    .add-contact-modal-content {
        zoom: 100%;
    }

    .add-contact-modal-content {
        display: flex;
        width: 95%;
        height: 80%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        flex-direction: column;
    }

    .add-contact-left {
        background-color: #2A3647;
        color: white;
        padding: 0px 0px 0px 48px;
        width: unset;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
    }

    .add-contact-left h2 {
        font-size: 47px;
    }

    .add-contact-left p {
        font-size: 20px;
    }

    .add-contact-right {
        background-color: #fff;
        width: unset;
        height: 55%;
        position: relative;
        display: flex;
        align-items: center;
    }

    .profileImg {
        position: absolute;
        top: -70px;
        margin-left: unset;
        margin-bottom: unset;
    }

    #addContactForm {
        gap: 15px;
    }

    .cancel-display-none {
        display: none;
    }

    .main-board-content {
        display: none !important;
        flex-direction: column;
    }

    .contacts-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-actions {
        justify-content: center;
    }

    .add-contact-right {
        background-color: #fff;
        width: unset;
        height: 55%;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #addContactForm {
        width: 90%;
        margin-left: unset;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .add-contact-right .close {
        display: none;
    }

    .add-contact-left .close {
        display: flex;
        width: 45px;
    }

    .modal-logo {
        display: none;
    }

    button#addContactBtn {
        display: none;
    }
}

@media (max-width:500px) {

    .add-contact-left {
        padding: 0px 8px 0px 12px;
    }
}








