body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F6F7F8;
    max-width: 1920px;
}

h1{
    font-size: 61px;
    font-weight: 700;
}

.update{
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 24px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: #29ABE2;
    cursor: pointer;
}

.privacyContainer {
    display: flex;
    flex-direction: column;
    padding-top: 206px;
    padding-left: 328px;
    padding-right: 96px;
    height: 100%;
}

.headlineAndArrowLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
}

.arrowLeft {
    height: 32px;
    width: 32px;
    cursor: pointer;
    position: fixed;
    top: 225px;
    right: 96px;
}

.arrowLeft:hover {
    background-color: #EEEEEE;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.hidden{
    display: none;
}

.headline {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 16px;
}

.privacyPolicyEmailAdress {
    color: #29ABE2
}

.scroll {
    overflow-y: scroll;
    height: calc(100vh - 10%);
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    padding-right: 4px;
}

::-webkit-scrollbar-track {
    background: #F6F7F8;
}

::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #29ABE2;
    border-radius: 4px;
}

ul {
    margin: 0 0 24px 0;
}

p, h2, h3, ul, li {
    margin: 16px 0;
}

h4 {
    margin-top: 16px;
}

.policyGenerator {
    padding-top: 10px;
    padding-bottom: 12px;
}