body {
    margin: 0;
    padding: 0;
    background-color: #F6F7F8;
    font-family: 'Inter', sans-serif;
}

.title-container {
    display: flex;
    align-items: center;
    height: 73px;
    margin-left: 330px;
    margin-top: 190px;
}

.title-container h1 {
    font-size: 61px;
    font-weight: 700;
    margin-right: 30px;
}

.separator {
    height: 59px;
    width: 3px;
    background-color: #5CBEE7;
    margin-right: 30px;
}

.title-container p {
    font-size: 27px;
    font-weight: 400;
    color: #2A3647;
}

.main-summary {
    margin-left: 328px;
    margin-top: 35px;
    display: flex;
    max-width: 1920px;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}

.summary-container {
    height: 562px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.toDo-done-container {
    height: 168px;
    gap: 18px;
    display: flex;
    justify-content: space-between;
}

.toDo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 168px;
    width: 50%;
    padding: 38px 19px 38px 19px;
    gap: 36px;
    border-radius: 30px;
    opacity: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.image-todo-container img {
    transition: opacity 0.3s ease;
}

.toDo-container:hover .image-todo-container img {
    content: url('../assets/img/Group 7.svg');
}

.toDo-container:hover {
    height: 184px;
    background-color: #2a3647;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.toDo-number-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-number {
    font-size: 64px;
    font-weight: 600;
}

.toDo-number-container .todo-number {
    transition: color 0.3s ease;
}

.toDo-container:hover .todo-number {
    color: #ffffff;
}

.summary-span {
    font-size: 16px;
    font-weight: 400;
    color: #2A3647;
}

.toDo-number-container .summary-span {
    transition: color 0.3s ease;
}

.toDo-container:hover .summary-span {
    color: #ffffff;
}

.done-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 168px;
    width: 50%;
    padding: 38px 19px 38px 19px;
    gap: 36px;
    border-radius: 30px;
    opacity: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.image-done-container img {
    transition: opacity 0.3s ease;
}

.done-container:hover .image-done-container img {
    content: url('../assets/img/Frame 59 (3).svg');
}

.done-container:hover {
    height: 184px;
    background-color: #2a3647;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.done-number-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.done-number-container .done-number {
    transition: color 0.3s ease;
}

.done-container:hover .done-number {
    color: #ffffff;
}

.done-number {
    font-size: 64px;
    font-weight: 600;
}

.done-number-container .summary-span {
    transition: color 0.3s ease;
}

.done-container:hover .summary-span {
    color: #ffffff;
}


.urgent-date-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 168px;
    width: 100%;
    padding: 28px 48px 28px 48px;
    gap: 10px;
    border-radius: 30px 30px 30px 30px;
    opacity: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    margin-top: 28px;
}

.urgent-date-container img {
    transition: opacity 0.3s ease;
}

.urgent-date-container:hover {
    height: 184px;
    background-color: #2a3647;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.urgent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    gap: 16px;
}

.urgent-number-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.urgent-date-container .urgent-number {
    transition: color 0.3s ease;
}

.urgent-date-container:hover .urgent-number {
    color: #ffffff;
}

.separator-urgent {
    height: 102px;
    width: 3px;
    background-color: #E8E8E8;
}

.urgent-date-container span {
    transition: color 0.3s ease;
}

.urgent-date-container:hover span {
    color: #ffffff;
}

.urgent-number {
    font-size: 64px;
    font-weight: 600;
}

.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 57px;
    gap: 13px;
}

.date-urgent {
    font-size: 21px;
    font-weight: 700;
}

.Upcoming-Deadline {
    font-size: 16px;
    font-weight: 400;
    color: #2A3647;
}

.tasks-container {
    display: flex;
    justify-content: space-between;
    height: 170px;
    margin-top: 28px;
    gap: 13px;
}

.board-task-container {
    height: 168px;
    width: 33.33%;
    padding: 25px 0px 25px 0px;
    gap: 13px;
    border-radius: 30px;
    opacity: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.progress-task-container {
    height: 168px;
    width: 33.33%;
    padding: 25px 0px 25px 0px;
    gap: 13px;
    border-radius: 30px;
    opacity: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.feedback-task-container {
    height: 168px;
    width: 33.33%;
    padding: 25px 0px 25px 0px;
    gap: 13px;
    border-radius: 30px;
    opacity: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.board-number-span {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 168px;
    top: 1px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
}

.board-number {
    font-size: 64px;
    font-weight: 600;
}

.tasks-span {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #2A3647;
}

.progress-number-span {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 168px;
    top: 1px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
}

.progress-number {
    font-size: 64px;
    font-weight: 600;
}

.feedback-number-span {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 168px;
    top: 1px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
}

.feedback-number {
    font-size: 64px;
    font-weight: 600;
}

.board-task-container:hover {
    height: 184px;
    background-color: #2a3647;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.feedback-task-container:hover {
    height: 184px;
    background-color: #2a3647;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.progress-task-container:hover {
    height: 184px;
    background-color: #2a3647;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.tasks-container span {
    transition: color 0.3s ease;
}

.board-task-container:hover span {
    color: #ffffff;
}

.feedback-task-container:hover span {
    color: #ffffff;
}

.progress-task-container:hover span {
    color: #ffffff;
}

.main-greet {
    display: flex;
    width: 41%;
    justify-content: flex-start;
    align-items: center;
    height: 562px;
}

.greet-container {
    display: flex;
    flex-direction: column;
    height: 136px;
}

.greet-time {
    font-size: clamp(2.25rem, 0.0257rem + 3.2353vw, 2.9375rem);
    font-weight: 500;
    color: #2A3647;
}

.greet-name {
    font-size: clamp(3rem, -0.2353rem + 4.7059vw, 4rem);
    font-weight: 700;
    color: #29ABE2;
}

@keyframes greetAnimation {
    0% {
        opacity: 1;
        transform: translateY(50px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

.underline-mobile {
    display: none;
}


/* ///////////////////////////////////////Mobile-Screen//////////////////////////////////////////////////// */



@media (max-width: 1020px) {

    .main-greet {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: rgba(255, 255, 255, 0.549);
        /* Passen Sie die Hintergrundfarbe nach Bedarf an */
        display: flex;
        justify-content: center;
        align-items: center;
        animation: greetAnimation 2s forwards;
    }

    .title-container {
        margin-left: 6px;
        margin-top: 139px;
    }

    .main-summary {
        margin-left: 0px;
        justify-content: center;
    }

    .summary-container {
        height: unset;
        width: 97.5%;
    }
}

@media (max-width: 600px) {

    .title-container {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 12px;
        margin-top: 120px;
    }

    .separator {
        display: none;
    }

    .underline-mobile {
        display: flex;
        width: 120px;
    }

    .main-summary {
        margin-top: 46px;
    }

}

@media (max-width: 500px) {

    .title-container {
        zoom: 90%;
    }

    .main-summary {
        zoom: 90%;
    }

}

@media (max-width: 400px) {

    .title-container {
        zoom: 80%;
    }

    .main-summary {
        zoom: 80%;
    }

}